* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Button Styles */
.button {
  background-color: transparent;
  border: 1px solid #228DFF;
  border-radius: 10%;
  padding: 0.5em;
  color: rgba(50, 50, 50, 1);
}

/* Wrap Styles */
.wrap__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap__timer {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
  font-size: 3em;
  color: white;
}

.wrap__tiles {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2B2129, #2B2129 60%, #228DFF);
}

/* Tile Styles */
.tile {
  position: relative;
  width: 4em;
  height: 4em;
  border-radius: 40%;
  margin: 1em;
  border: 6px double white;
  transition: transform 0.05s ease-in-out;
}

.timer {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
}

.score {
  position: absolute;
  bottom: -2em;
  right: 0;
  font-size: 0.8em;
  transition: transform 0.05s ease-in-out;
  color: white;
}

.streak {
  position: absolute;
  bottom: -1.5em;
  right: -1.5em;
  font-size: 2em;
  transition: transform 0.05s ease-in-out;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 55px #228DFF, 0 0 75px #228DFF;
}

/* Animations */
.animateScore {
  -webkit-animation: flashScore 0.75s ease-in-out 1;
  -moz-animation: flashScore 0.75s ease-in-out 1;
  animation: flashScore 0.75s ease-in-out 1;
}

.lit--blue {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

.lit--green {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
}

.neon--blue {
  border-color: #228DFF;
}

.neon--green {
  border-color: #B6FF00;
}

.getBig {
  transform: scale(1.2);
}

/* Animations */
/*
@keyframes liteBrite--blue {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    
}

100% {
  box-shadow: none;  
}
}

*/
@keyframes flashScore {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* Utility Classes */
.hidden {
  display: none;
}

.clear {
  opacity: 0;
}
