<div class="container container-fluid" id="dessertMenu">
	
		<div class="row" ng-show="menu.isMenu(4)" >
			<div class="col-sm-6" ng-repeat="items in desserts.products">
				<h3  class="text-center" id="itemName"> {{ items.name }} </h3>
				<img ng-src="{{ items.images[0] }}" class="center-block menuImage" alt="">

				<section ng-controller="MenuTabs as menutab">
					<ul class="nav nav-pills" id="menuTabs">
						<li ng-class="{ active:menutab.isTab(1) }"><a href="JavaScript:void(0)" ng-click="menutab.setTab(1)">Description</a></li>						
						<li ng-class="{ active:menutab.isTab(2) }"><a href="JavaScript:void(0)" ng-click="menutab.setTab(2)">Variety</a></li>
						<li ng-class="{ active:menutab.isTab(3) }"><a href="JavaScript:void(0)" ng-click="menutab.setTab(3)">Reviews</a></li>
						<li ng-class="{ active:menutab.isTab(4) }"><a href="JavaScript:void(0)" ng-click="menutab.setTab(4)">Price</a></li>
					</ul>						

						<div class="panel content" id="description" ng-show="menutab.isTab(1)">
							<p> {{ items.description }} </p>
						</div>

						<div class="panel content" id="reviews" ng-show="menutab.isTab(2)">
							<p> {{ items.variety }} </p>
						</div>

						<!-- Review Panel -->

						<menu-reviews></menu-reviews>

						<div class="panel content" id="price" ng-show="menutab.isTab(4)">
							<p> {{ items.price }} </p>
						</div>
				</section>
			</div>
		</div>
	</div>