body {	
	width: 100%;
	margin: 0;
	padding: 0;
}

/*########################

Home Page Styles

############################*/
	#homeContainer {	
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;	
		width: inherit;
		z-index: 2;
	}
	#logo {	
		position: absolute;
		top: 20%;
		left: 39%;
		width: inherit;
		margin: 0;
		padding: 0;
		z-index: 1;		
	}
	#logo h1 {	
		font-family: 'Clicker Script', cursive;		
		color: rgba(153,204,255,1);
		text-shadow: 2px 1px 1px black;
		font-size: 5em;
	}

	/*---------------------
	Navigation Menu
	----------------------*/

	.navMenu {	
		background-color: rgba(255,255,255,1);
		position: fixed;
		padding-top: 15px;
		padding-bottom: 10px;	
		z-index: 100;
		text-align: center;	
	}	
	.navmenu ul {		
		font-size: 15px;	
	}
	.navMenu li {	
		display: inline;
		list-style: none;
		padding-right: 50px;	
	}
	.navMenu a {
		color: black;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 17px;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.navMenu a:hover {
		color: rgba(153,204,255,1);	
	}
	.navMenu img {
		margin-top: -0.5%;
		height: 20px;
		width: 20px;
		margin-right: 0.4%;		
	}

	/*-------------------------------------
	Carousel/Container (1400x600)
	--------------------------------------*/

	#carouselContainer {		
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;	
		width: inherit;
		height: 640px;		
	}
	#galleryCarousel {	
		top: 0;
		left: 0;
		width: inherit;
		height: 640px;	
	}
	.fill {		
		width: inherit;
		height: 640px;
		background-position: center;
		background-size: cover;				
	}
	

	/*----------------
	About Container
	-----------------*/

	#aboutContainer {
		font-family: 'Alice', serif;	
		border: 1px solid;
		border-top-color: rgba(153,204,255,1);
		border-bottom-color: rgba(153,204,255,1);
		padding-bottom: 50px;
	}
	#aboutContainer h3 {
		font-size: 50px;	
	}
	#aboutContainer h4 {
		line-height: 35px;
	}
	#aboutContainer a {
		color: black;
		text-decoration: none;
	}
	#aboutContainer button {
		margin-top: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-color: rgba(153,204,255,1);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#aboutContainer button:hover {
		background-color: transparent;
	}

	/*--------------------
	Charity Container
	---------------------*/

	#charityContainer {		
		font-family: 'Alice', serif;	
		background-color: #f1f1f1;
		border: 1px solid;
		border-top-color: rgba(153,204,255,1);
		border-bottom-color: rgba(153,204,255,1);
		padding-bottom: 50px;	
	}
	#charityContainer img {
		margin-top: 25px;
	}
	#charityContainer h3 {
		font-size: 50px;	
	}
	#charityContainer h4 {
		line-height: 35px;
	}
	#charityContainer a {
		color: black;
		text-decoration: none;
	}
	#charityContainer button {
		margin-top: 25px;		
		padding-top: 15px;
		padding-bottom: 15px;
		border-color: rgba(153,204,255,1);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#charityContainer button:hover {
		background-color: transparent;
	}

	/*--------------------
	Contact Container
	---------------------*/

	#contactContainer {
		font-family: 'Alice', serif;			
		border: 1px solid;
		border-top-color: rgba(153,204,255,1);
		border-bottom-color: rgba(153,204,255,1);
		padding-bottom: 50px;	
	}
	#contactContainer img {
		margin-top: 25px;
	}
	#contactContainer h3 {
		font-size: 50px;	
	}
	#contactContainer h4 {
		line-height: 35px;
	}
	#contactContainer a {
		color: black;
		text-decoration: none;
	}
	#contactContainer button {
		margin-top: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-color: rgba(153,204,255,1);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#contactContainer button:hover {
		background-color: transparent;
	}

	/*-----------------
	Footer Container
	-------------------*/
	
	#socialRow {
		padding-top: 30px;
		padding-bottom: 30px;
		font-family: 'Alice', serif;			
	}
	#socialRow img {
		width: 50px;
		height: 50px;	
		margin-right: 50px;
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
	}
	#socialRow img:hover {
		transform: scale(1.175,1.175);
		-webkit-transform: scale(1.175,1.175);
		-moz-transform: scale(1.175,1.175);
		-o-transform: scale(1.175,1.175);
		-ms-transform: scale(1.175,1.175);	
	}
	#socialRow ul {
		list-style: none;
	}
	#socialRow li {
		display: inline-block;
	}

/*########################

Menu Page Styles

############################*/
	
	/*---------------
	Menu Landing
	--------------------*/
	#menuHeader {
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}
	#menuHeader h3 {
		padding: 20px;
	}
	#menuTease {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	#textTease {
		margin-top: 10px;
	}
	#menuTease h4, #menuTease h5 {
		padding-left: 35px;
		padding-right: 35px;
		line-height: 30px;
	}
	#menuTease img {		
		border-radius: 16px;
		height: 300px;
	}
	#menuTease button {
		margin-top: 25px;
		padding: 15px;
		border-width: 2px;
		border-color: rgba(153,204,255,1);
		background-color: transparent;
		font-size: 20px;
		font-family: 'Alice', serif;
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#menuTease button:hover {
		background-color: #eeeeee;
	}
	#menuTease a {
		color: black;
		text-decoration: none;
	}	
	#menuTitle h3 {
		margin-top: 70px;
		font-family: 'Clicker Script', cursive;	
		font-size: 60px;
		color: rgba(153,204,255,1);	
	}
	#menuTease h4 {
		font-family: 'Alice', serif;	
	}	
	#menuNavigation ul {
		margin-top: 15px;
	}
	#menuNavigation li {		
		display: inline-block;
		margin-right: 50px;		
	}
	#menuNavigation a {
		color: black;
		text-decoration: none;
		font-size: 20px;
		font-family: 'Alice', serif;	
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#menuNavigation a:hover {
		color: rgb(232,143,225);
	}

	/*-----------------------
	Menu pages
	------------------------*/

	#itemName {
		font-family: 'Alice', serif;		
	}
	.menuImage img {
		border-radius: 16px;
	}
	#menuTabs {
		margin-left: 15%;
		margin-top: 10px;
	}
	#menuTabs a {
		color: black;
	}
	.nav-pills > li.active > a {
    	background-color: rgba(153,204,255,1);
	}
	.nav >li > a:focus {    
    background-color: rgba(153,204,255,1);
	}
	.panel {
		margin-top: 20px;
		font-family: 'Alice', serif;
		font-size: 15px;
	}


/*########################

Review Form Styles

############################*/
	#reviewForm {
		font-family: 'Alice', serif;	
	}
	#reviewForm select {
		border-radius: 5px;
		border-color: rgba(153,204,255,1);
	}
	#reviewForm textarea {
		border-radius: 5px;
		border-color: rgba(153,204,255,1);
		padding: 5px;
	}
	#reviewForm input[type="email"] {
		border-radius: 5px;
		border-color: rgba(153,204,255,1);
		padding: 5px;
	}
	#reviewForm input[type="submit"] {
		border-color: rgba(153,204,255,1);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#reviewForm input[type="submit"]:hover {
		background-color: transparent;
	}
	.ng-dirty.ng-invalid {
		border-color: red;
	}
	.ng-dirty.ng-valid {
		border-color: green;
	}

/*########################

Service Page Styles

############################*/
	#serviceHeader {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	#serviceHeader h3 {
		margin-top: 70px;
		font-family: 'Clicker Script', cursive;	
		font-size: 60px;
		color: rgba(153,204,255,1);	
		padding: 20px;
	}

	#serviceContent {
	margin-top: 30px;
	font-family: 'Alice', serif;
}
	#serviceContent img {
		width: 100px;
		height: 100px;
	}
	.contentColumn {
		border-right: 2px solid rgba(153,204,255,1);
	}
	.contentColumn:last-child {
		border-right: none;
	}
	.contentColumn h5 {
		padding-top: 10px;
		line-height: 30px;
		font-size: 18px;
	}
	#contentButton a {
		color: black;
		text-decoration: none;
		font-family: 'Alice', serif;
	}
	#contentButton button {	
		padding-top: 10px;
		padding-bottom: 15px;
		border-width: 2px;
		border-color: rgba(153,204,255,1);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#contentButton button:hover {
		background-color: transparent;
	}

/*########################

About Page Styles

############################*/
#aboutHeader {
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
#aboutHeader h3 {
	margin-top: 70px;
	font-family: 'Clicker Script', cursive;	
	font-size: 60px;
	color: rgba(153,204,255,1);	
	padding: 20px;
}

#aboutContent {
	margin-top: 30px;
	font-family: 'Alice', serif;
}
#aboutContent img {
	width: 100px;
	height: 100px;
}
.contentColumn {
	border-right: 2px solid rgba(153,204,255,1);
}
.contentColumn:last-child {
	border-right: none;
}
.contentColumn h5 {
	padding-top: 10px;
	line-height: 30px;
	font-size: 18px;
}
#contentButton a {
	color: black;
	text-decoration: none;
}
#contentButton button {	
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-width: 2px;
	border-color: rgba(153,204,255,1);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	}
	#contentButton button:hover {
		background-color: transparent;
	}

/*########################

Contact Page Styles

############################*/
	#contactContainer {
		border: none;
	}
	#contactHeader {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		font-family: 'Alice', serif;
	}
	.overlay {
		background-color: rgba(0,0,0,0.55);
		width: inherit;
		height: 200px;
	}
	#contactHeader h3 {
		margin-top: 70px;
		font-family: 'Clicker Script', cursive;	
		font-size: 60px;
		color: rgba(153,204,255,1);	
		padding: 20px;
	}
	#contactOptions {				
		font-family: 'Alice', serif;
		
	}	
	#contactOptions img {
		height: 60px;
		width: 60px;
		padding-bottom: 10px;
		cursor: pointer;	
	}	
	#contactOptions li {
		display: inline-block;		
	}	
	#contactOptions li:first-child {
		margin-right: 100px;
		margin-left: -60px;
	}
	#contactOptions h4 {
		font-size: 35px;
	}
	#contactContainer form {
		padding-top: 25px;
	}
	#contactContainer .form-control {
		width: 30%;
	}
	#contactForm {
		font-family: 'Alice', serif;	
	}
	#contactForm select {
		border-radius: 5px;
		border-color: rgba(153,204,255,1);
	}
	#contactForm textarea {
		border-radius: 5px;
		border-color: rgba(153,204,255,1);
		margin-bottom: -20px;
	}
	#contactForm input[type="email"] {
		border-radius: 5px;
		border-color: rgba(153,204,255,1);
		margin-top: 20px;
		padding: 5px;
	}
	#contactForm input[type="submit"] {
		border-color: rgba(153,204,255,1);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
	}
	#contactForm input[type="submit"]:hover {
		background-color: transparent;
	}